################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelloWorldCpp/.vs/HelloWorldCpp/v15/Browse.VC.opendb
